schematron/mrd.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:ns prefix="mrd" uri="http://standards.iso.org/iso/19115/-3/mrd/1.0"/>
  <!--
    ISO 19115-3 base requirements for metadata instance documents

    See ISO19115-1:2014(E) page 20, Figure 15 Distribution information classes
  -->

  <!--
    Rule: MD_Medium
    Ref: {if density used then count (densityUnits) > 0}
    -->

  <sch:pattern id="rule.mrd.mediumunit">
    <sch:title>Medium having density MUST specified density units</sch:title>
    <sch:rule context="//mrd:MD_Medium[mrd:density]">

      <sch:let name="density"
        value="normalize-space(mrd:density/*)"/>
      <sch:let name="units"
        value="normalize-space(mrd:densityUnits[normalize-space(*) != ''])"/>

      <sch:let name="hasUnits"
        value="$units != ''"/>

      <sch:assert test="$hasUnits">
	The medium define a density without unit.
      </sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
