ckanext/iso19115/schematron/cit.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:ns prefix="cit" uri="http://standards.iso.org/iso/19115/-3/cit/1.0"/>
  <sch:ns prefix="mri" uri="http://standards.iso.org/iso/19115/-3/mri/1.0"/>
  <sch:ns prefix="srv" uri="http://standards.iso.org/iso/19115/-3/srv/2.0"/>
  <sch:ns prefix="mdb" uri="http://standards.iso.org/iso/19115/-3/mdb/1.0"/>
  <sch:ns prefix="mcc" uri="http://standards.iso.org/iso/19115/-3/mcc/1.0"/>
  <sch:ns prefix="lan" uri="http://standards.iso.org/iso/19115/-3/lan/1.0"/>
  <sch:ns prefix="gco" uri="http://standards.iso.org/iso/19115/-3/gco/1.0"/>
  <!--
    ISO 19115-3 base requirements for metadata instance documents

    See ISO19115-1:2014(E) page 25, Figure 20 Citation and responsible party information classes
  -->

  <!--
    Rule: CI_Individual
    Ref: {count(name + positionName) > 0}
    -->
  <sch:pattern id="rule.cit.individualnameandposition">
    <sch:title >Individual MUST have a name or a position</sch:title>
    <sch:rule context="//cit:CI_Individual">

      <sch:let name="name" value="cit:name"/>
      <sch:let name="position" value="cit:positionName"/>
      <sch:let name="hasName"
               value="normalize-space($name) != ''"/>
      <sch:let name="hasPosition"
        value="normalize-space($position) != ''"/>

      <sch:assert test="$hasName or $hasPosition">
	The individual does not have a name or a position.
      </sch:assert>
    </sch:rule>
  </sch:pattern>


  <!--
    Rule: CI_Organisation
    Ref: {count(name + logo) > 0}
  -->
  <sch:pattern id="rule.cit.organisationnameandlogo">
    <sch:title >Organisation MUST have a name or a logo</sch:title>
    <sch:rule context="//cit:CI_Organisation">

      <sch:let name="name" value="cit:name"/>
      <sch:let name="logo" value="cit:logo/mcc:MD_BrowseGraphic/mcc:fileName"/>
      <sch:let name="hasName"
        value="normalize-space($name) != ''"/>
      <sch:let name="hasLogo"
        value="normalize-space($logo) != ''"/>

      <sch:assert test="$hasName or $hasLogo">
	The organisation does not have a name or a logo.
      </sch:assert>
    </sch:rule>
  </sch:pattern>

</sch:schema>
