ckanext/iso19115/schematron/dqm.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:ns prefix="mdb" uri="http://standards.iso.org/iso/19115/-3/mdb/2.0"/>
  <sch:ns prefix="dqm" uri="http://standards.iso.org/iso/19157/-2/dqm/1.0"/>
  <sch:ns prefix="cat" uri="http://standards.iso.org/iso/19115/-3/cat/1.0"/>
  <sch:ns prefix="cit" uri="http://standards.iso.org/iso/19115/-3/cit/2.0"/>
  <sch:ns prefix="mcc" uri="http://standards.iso.org/iso/19115/-3/mcc/1.0"/>
  <sch:ns prefix="gco" uri="http://standards.iso.org/iso/19115/-3/gco/1.0"/>
  <!--
    ISO 19157-2 base requirements for data quality metadata instance documents

    See ISO19157:2013 page 18, Figure 11 Data quality measures
  -->
  <!--
    Rule: DQM_Measure
    Ref: {elementName shall be a TypeName of a data quality element}
    -->

  <sch:pattern id="rule.dqm.measurename">
    <sch:title>DQM_Measure.elementName shall be a TypeName of a data quality element</sch:title>

    <sch:rule context="//dqm:DQM_Measure">
      <sch:let name="elementName" value="dqm:elementName/gco:TypeName/gco:aName/gco:CharacterString"/>
      <sch:assert test="$elementName = 'DQ_Completeness'
			or $elementName = 'DQ_CompletenessCommission'
			or $elementName = 'DQ_CompletenessOmmission'
			or $elementName = 'DQ_LogicalConsistency'
			or $elementName = 'DQ_DomainConsistency'
			or $elementName = 'DQ_FormatConsistency'
			or $elementName = 'DQ_TopologicalConsistency'
			or $elementName = 'DQ_UsabilityElement'
			or $elementName = 'DQ_PositionalAccuracy'
			or $elementName = 'DQ_AbsoluteExternalPositionalAccuracy'
			or $elementName = 'DQ_RelativeInternalPositionalAccuracy'
			or $elementName = 'DQ_GriddedDataPositionalAccuracy'
			or $elementName = 'DQ_ThematicAccuracy'
			or $elementName = 'DQ_ThematicClassificationCorrectness'
			or $elementName = 'DQ_NonQuantitativeAttributeCorrectness'
			or $elementName = 'DQ_QuantitativeAttributeAccuracy'
			or $elementName = 'DQ_TemporalQuality'
			or $elementName = 'DQ_AccuracyOfATimeMeasurement'
			or $elementName = 'DQ_TemporalConsistency'
			or $elementName = 'DQ_TemporalValidity'" >
	The DQM_Measure.elementName shall be a TypeName of a data quality element.
      </sch:assert>
    </sch:rule>
  </sch:pattern>

  <!--
    Rule: DQM_Measure | DQM_BasicMeasure | DQM_Parameter
    Ref: {valueType shall be one of the data types defined in ISO/TS 19103}
    -->
  <sch:pattern id="rule.dqm.valutype">
    <sch:title>DQM_Measure.valueType shall be one of the data types defined in ISO/TS 19103</sch:title>

    <sch:rule context="//dqm:DQM_Measure | //dqm:DQM_BasicMeasure | dqm:DQM_Parameter">

      <sch:let name="valueType" value="dqm:valueType/gco:TypeName/gco:aName/gco:CharacterString"/>

      <sch:assert test="$valueType = 'Date'
			or $valueType = 'Time'
			or $valueType = 'DateTime'
			or $valueType = 'Number'
			or $valueType = 'Decimal'
			or $valueType = 'Integer'
			or $valueType = 'Real'
			or $valueType = 'Vector'
			or $valueType = 'CharacterString'
			or $valueType = 'Boolean'
			or $valueType = 'Set'
			or $valueType = 'Bag'">
	The valueType shall be one of the data types defined in ISO/TS 19103.
      </sch:assert>
    </sch:rule>
  </sch:pattern>
</sch:schema>
